[submodule "parallelstl"]
	path = parallelstl
	url = https://github.com/intel/parallelstl
[submodule "tbb"]
	path = tbb
	url = https://github.com/intel/tbb
[submodule "rangeless"]
	path = rangeless
	url = https://github.com/ast-al/rangeless
